# Environment Variables - DO NOT COMMIT TO GITHUB
# Copy this file to .env and fill in your actual credentials

BOT_TOKEN =
GROUP_ID = 
SW_PROJECT =
SW_TOKEN =
SW_SPACE =
SW_NUMBER =
APP_URL HEROKU = 
